.wrapper {
  margin: 2rem auto;
  width: clamp(calc(320px - 3rem), 75%, 70ch);
  height: calc(75vh - 2.5rem);
  border: 0.5rem solid black;
}

.menu {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 1rem;
    }
    a {
      display: inline-block;
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: black;
      border: 1px solid black;
    }
    a:hover {
      background-color: #1e1e1e;
      color: #fff;
    } 
}


