.wrapper {
  --content-width: 50ch;
  margin: 0;

  .header {
    margin-right: auto;
    margin-left: auto;
    padding: 2rem;
    max-width: calc(var(content-width) - 4rem);
  }

  .main {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    & > * {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-snap-align: center;
    }
  }

  .card {
    width: clamp(30ch, 40%, var(--content-width));
    height: auto;
    border: 1px solid black;
    border-radius: 25px;
    // margin: auto;
    position: relative;
//     container-type: inline-size;
// 
//     @container (min-width: 300px) {
//       .inner {
//         display: flex;
//         & > * {
//           max-width: 50%;
//         }
//         img {
//           height: auto;
//           border-radius: 25px 0 0 25px;
//           object-fit: cover;
//         }
//       }
//     }

    img {
      border-radius: 25px 25px 0 0;
      margin: 0;
      display: block;
      max-width: 100%;
    }

    .number {
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 5rem;
        font-weight: bold;
        text-shadow: 0 2px 25px rgba($color: #000000, $alpha: 0.1);
        color: white;
    }

    figcaption {
      padding: 1rem;
      text-align: center;
    }

    .cta {
      padding: 0.75rem 1rem;
      border: 0.1rem solid black;
      border-radius: 0.5rem;
      font-size: 1rem;
      text-transform: uppercase;
      margin: 1rem auto 2rem;
      cursor: pointer;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
