.wrapper {
  --content-width: 50ch;
  margin: 0;

  .header {
    margin-right: auto;
    margin-left: auto;
    padding: 2rem;
    max-width: calc(var(content-width) - 4rem);
  }

  .main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
    gap: 2rem;
  }

  .card {
    flex: 0 1 clamp(30ch, 30%, var(--content-width));
    border: 1px solid black;
    border-radius: 25px;
    margin: auto;
//     container-type: inline-size;
// 
//     @container (min-width: 300px) {
//       .inner {
//         display: flex;
//         & > * {
//           max-width: 50%;
//         }
//         img {
//           height: auto;
//           border-radius: 25px 0 0 25px;
//           object-fit: cover;
//         }
//       }
//     }

    img {
      border-radius: 25px 25px 0 0;
      margin: 0;
      display: block;
      max-width: 100%;
    }

    figcaption {
      padding: 1rem;
      text-align: center;
    }

    .cta {
      padding: 0.75rem 1rem;
      border: 0.1rem solid black;
      border-radius: 0.5rem;
      font-size: 1rem;
      text-transform: uppercase;
      margin: 1rem auto 2rem;
      cursor: pointer;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
