.wrap {
    margin: auto;
  button {
    border: 3px solid #aea8d3;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    background: #353535;
    width: 200px;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in, transform 0.2s 0.1s ease-in-out;
    &:hover {
      transform: scale(1.3);
      background: #aea8d3;
      color: #353535;
      cursor: pointer;
    }
  }
}
