.wrap {
  width: 100%;
  height: 100%;
  background: #433f55;
  padding: 8rem;
  
  .bot {
    width: 100px;
    offset-path: path(
      'M.542,219.99c540.71,0,477.005-218.911,277.995-218.37S7.081,219.99,539.573,219.99'
    );
    offset-rotate: auto;
    animation: fly 9s cubic-bezier(0.22, 0, 0.76, 1) both;
  }

  @keyframes fly {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
  }
}
